<!-- #set ($sitewhere_title = "Manage Batch Operations") -->
<!-- #set ($sitewhere_section = "batch") -->
#parse ("includes/top.inc")

<style>
.sw-device-list {
	border: 0px;
}
</style>

<!-- Title Bar -->
<div class="sw-title-bar content k-header">
	<h1 class="ellipsis" data-i18n="batch.list.title"></h1>
	<div class="sw-title-bar-right">
		<a id="btn-filter-results" class="btn" href="javascript:void(0)">
			<i class="fa fa-filter sw-button-icon"></i> <span
			data-i18n="public.FilterResults">Filter Results</span>
		</a>
	</div>
</div>
<table id="batchoperations">
	<colgroup>
		<col style="width: 19%;" />
		<col style="width: 19%;" />
		<col style="width: 19%;" />
		<col style="width: 19%;" />
		<col style="width: 19%;" />
		<col style="width: 5%;" />
	</colgroup>
	<thead>
		<tr>
			<th data-i18n="public.Operation"></th>
			<th data-i18n="batch.ProcessingStatus"></th>
			<th data-i18n="batch.list.OperationCreated"></th>
			<th data-i18n="public.ProcessingStarted"></th>
			<th data-i18n="public.ProcessingFinished"></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="6"></td>
		</tr>
	</tbody>
</table>
<div id="pager" class="k-pager-wrap"></div>

<form id="view-batch-operation-detail" method="get"></form>

<!-- -->
#parse ("batch/templateBatchOperationEntry.inc")
<!-- -->
#parse ("includes/commonFunctions.inc")

<script>
	/** Set sitewhere_title */
	sitewhere_i18next.sitewhere_title = "batch.list.title";

	/** Reference for batch operations datasource */
	var batchOpsDS;

	/** View a batch operation */
	function viewBatchOperation(type, token) {
		if (type == "InvokeCommand") {
			$("#view-batch-operation-detail").attr("action",
					"${request.contextPath}/admin/${tenant.id}/batch/command/" + token + ".html");
			$("#view-batch-operation-detail").submit();
		}
	}

	$(document).ready(function() {

		/** Create AJAX datasource for devices list */
		batchOpsDS = new kendo.data.DataSource({
			transport : {
				read : {
					url : "${request.contextPath}/api/batch",
					beforeSend : function(req) {
						req.setRequestHeader('Authorization', "Basic ${basicAuth}");
						req.setRequestHeader('X-SiteWhere-Tenant', "${tenant.authenticationToken}");
					},
					dataType : "json",
				}
			},
			schema : {
				data : "results",
				total : "numResults",
				parse : function(response) {
					$.each(response.results, function(index, item) {
						parseBatchOperationData(item);
					});
					return response;
				}
			},
			serverPaging : true,
			serverSorting : true,
			pageSize : 50,
		});

		/** Create the list of batch operations */
		$("#batchoperations").kendoGrid({
			dataSource : batchOpsDS,
			rowTemplate : kendo.template($("#tpl-batch-operation-entry").html()),
			scrollable : true,
			height : 400,
		});

		/** Pager for batch operation list */
		$("#pager").kendoPager({
			dataSource : batchOpsDS
		});
	});
</script>

#parse ("includes/bottom.inc")
