<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ISO8601} [%t] %-5p [%c{1}] %m%n" />
		</Console>
		<File name="SiteWhere" fileName="${sys:sitewhere.home}/logs/sitewhere.log"
			append="false">
			<PatternLayout pattern="%d{ISO8601} [%t] %-5p [%c{1}] %m%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console" />
			<AppenderRef ref="SiteWhere" />
		</Root>
	</Loggers>
</Configuration>