<!-- #set ($sitewhere_title = "Choose Tenant") -->

<!DOCTYPE html>
<html class="sw-body">
<head>
<title>SiteWhere - ${sitewhere_title}</title>
<script src="${request.contextPath}/scripts/jquery-1.11.3.min.js"></script>
<script src="${request.contextPath}/scripts/jquery.validity.js"></script>
<script src="${request.contextPath}/scripts/kendo.web.min.js"></script>
<script src="${request.contextPath}/scripts/modernizr.js"></script>
<script src="${request.contextPath}/scripts/moment.js"></script>
<script src="${request.contextPath}/scripts/sitewhere.js"></script>
<link rel="shortcut icon" href="${request.contextPath}/img/favicon.ico" />
<link href="${request.contextPath}/css/kendo.common.min.css"
	rel="stylesheet" />
<link href="${request.contextPath}/css/kendo.bootstrap.min.css"
	rel="stylesheet" />
<link href="${request.contextPath}/css/bootstrap.min.css"
	rel="stylesheet" media="screen">
<link href="${request.contextPath}/css/font-awesome.min.css"
	rel="stylesheet" media="screen">
<link href="${request.contextPath}/css/jquery.validity.css"
	rel="stylesheet">
<link href="${request.contextPath}/css/sitewhere.css" rel="stylesheet" />

<!-- -->
#parse ("includes/i18next.inc")

</head>
<style>
.sw-tenant-list {
	border: 0px;
}
</style>
<body class="sw-body">
	<div class="sw-container">
		<div class="sw-top-bar"></div>
		<div class="k-content container sw-content">
			<div class="sw-header">
				<div class="sw-logo">
					<img src="${request.contextPath}/img/sitewhere-small.png" />
				</div>
			</div>

			<!-- Title Bar -->
			<div class="sw-title-bar content k-header">
				<h1 class="ellipsis" data-i18n="tenants.select.tenant">Select
					Tenant</h1>
			</div>
			<div id="tenants" class="sw-tenant-list"></div>

			<form id="view-tenant" method="get">
				<input id="view-tenant-redirect" type="hidden" name="redirect"
					value="$!{request.parameter('redirect')}" />
			</form>

			<!-- -->
			#parse ("tenants/tenantChooserEntry.inc")

			<script>
				/** Set sitewhere_title */
				sitewhere_i18next.sitewhere_title = "Choose Tenant";

				/** Tenants datasource */
				var tenantsDS;

				/** Called when tenant 'Select' button is clicked */
				function onTenantSelected(event, tenantId) {
					$("#view-tenant").attr("action", "${request.contextPath}/admin/tenant/" + tenantId + ".html");
					$('#view-tenant').submit();
				}

				$(document).ready(
						function() {
							/** Create AJAX datasource for sites list */
							tenantsDS = new kendo.data.DataSource({
								transport : {
									read : {
										url : "${request.contextPath}/api/users/${currentUser.username}/tenants"
												+ "?includeRuntimeInfo=true",
										beforeSend : function(req) {
											req.setRequestHeader('Authorization', "Basic ${basicAuth}");
										},
										dataType : "json",
									}
								},
							});

							/** Create the site list */
							$("#tenants").kendoListView({
								dataSource : tenantsDS,
								template : kendo.template($("#tpl-tenant-entry").html())
							});
						});
			</script>

			#parse ("includes/bottom.inc")