/bin
/sitewhere-activemq/target
/sitewhere-azure/target
/sitewhere-client/target
/sitewhere-core/target
/sitewhere-documentation/target
/sitewhere-ehcache/target
/sitewhere-gnuhealth/target
/sitewhere-groovy/target
/sitewhere-hbase/target
/sitewhere-hbase/src/gen
/sitewhere-magento/target
/sitewhere-mongodb/target
/sitewhere-mule/target
/sitewhere-protobuf/target
/sitewhere-siddhi/target
/sitewhere-solr/target
/sitewhere-spring/target
/sitewhere-twilio/target
/sitewhere-web/target
/deploy
/target