<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd"
>

	<!-- Skip security on static files -->
	<sec:http pattern="/css/**" security="none"/>
	<sec:http pattern="/font/**" security="none"/>
	<sec:http pattern="/img/**" security="none"/>
	<sec:http pattern="/lib/**" security="none"/>
	<sec:http pattern="/scripts/**" security="none"/>
	
	<!-- Force basic authentication on API calls -->
	<sec:http pattern="/api/**">
		<sec:http-basic/>
	</sec:http>
	
	<!-- Handle admin website authentication -->
	<sec:http>
		<sec:intercept-url pattern="/admin" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<sec:intercept-url pattern="/admin/" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<sec:intercept-url pattern="/admin/loginFailed.html" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<sec:intercept-url pattern="/admin/**" access="ROLE_AUTHENTICATED_USER"/>
		<sec:form-login login-page='/admin/' default-target-url='/admin/sites/list.html'
			login-processing-url="/admin/login.html"
			authentication-failure-url="/admin/loginFailed.html"/>
		<sec:logout logout-success-url="/admin/" />
	</sec:http>
  
	<!-- Implements Spring AuthenticationProvider interface -->
	<bean id="authenticationProvider" class="com.sitewhere.security.SitewhereAuthenticationProvider"/>

	<!-- Authentication manager -->
	<sec:authentication-manager>
		<sec:authentication-provider ref="authenticationProvider"/>
	</sec:authentication-manager>
</beans>