.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.overlay {
  z-index: 1000;
}
.dialog__content {
  z-index: 1010;
}
.menu__content {
  z-index: 1020;
}

div.CodeMirror {
  height: auto;
}
