.overlay {
  z-index: 1000;
}
.dialog__content {
  z-index: 1010;
}
.menu__content {
  z-index: 1020;
}

div.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  overflow-y: auto;
}
