.sw-body {
	height: 100%;
	font-family: "Calibri", "Khmer UI", arial;
	color: #333333;
}

.sw-container {
	position: relative;
	min-height: 100%;
}

.sw-content {
	padding-bottom: 20px;
}

.sw-top-bar {
	height: 2px;
	background-color: #dc0000;
}

.sw-header {
	background-color: #ffffff;
	position: relative;
	padding: 10px;
}

.sw-logo {
	margin-left: -15px;
}

.sw-main-nav {
	position: absolute;
	top: 24px;
	right: 200px;
}

.sw-main-nav .nav-pills > .active > a:hover, .nav-pills > .active > a {
    color: rgb(255, 255, 255);
    background-color: #dc0000;
}

.sw-main-nav a {
    color: #dc0000;
}

.sw-title-bar {
    position: relative;
    border: 1px solid rgb(204, 204, 204);
    margin-bottom: 15px;
    background-color: rgb(240, 240, 240);
    padding: 3px 10px 7px;
}

.sw-title-bar h1 {
	line-height: 45px;
	padding: 0;
	margin: 0;
	font-size: 22pt;
	font-weight: normal;
	text-shadow: 2px 2px #eeeeee;
	max-width: 700px;
}

.sw-title-bar-left {
	position: absolute;
	top: 18px;
	left: 0px;
}

.sw-title-bar-right {
	position: absolute;
	top: 14px;
	right: 10px;
}

.sw-button-bar {
	padding: 5px;
	border: 1px solid #e0e0e0;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
}

.sw-button-bar-title {
	float: left;
	font-size: 16pt;
}

.sw-button-bar .btn {
	margin-left: 5px;
}

.sw-breadcrumb {
	margin: 0px 0px 20px;
	border: 0px;
	background-color: inherit;
	padding: 0;
}

.sw-user-info {
	position: absolute;
	top: 27px;
	right: 0px;
}

.sw-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 9pt;
	font-weight: bold;
	color: #1a1a1a;
	text-align: center;
	background-color: #f0f0f0;
	border-top: solid 1px #dddddd;
	margin-top: 20px;
}

.sw-metadata-grid .k-grid-content {
	overflow: auto; 
	max-height: 200px;
}

.sw-form-search-results {
	height: 200px; 
	overflow: auto;
	margin-right: 4px;
}

.sw-min-40 {
	min-width: 40px;
}

.sw-min-70 {
	min-width: 70px;
}

.btn-sw-success { 
	background-color: hsl(126, 100%, 21%) !important; 
	background-repeat: repeat-x; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b211", endColorstr="#006b0a"); 
	background-image: -khtml-gradient(linear, left top, left bottom, from(#00b211), to(#006b0a)); 
	background-image: -moz-linear-gradient(top, #00b211, #006b0a); 
	background-image: -ms-linear-gradient(top, #00b211, #006b0a); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b211), color-stop(100%, #006b0a)); 
	background-image: -webkit-linear-gradient(top, #00b211, #006b0a); 
	background-image: -o-linear-gradient(top, #00b211, #006b0a); 
	background-image: linear-gradient(#00b211, #006b0a); 
	border-color: #006b0a #006b0a hsl(126, 100%, 17.5%); 
	color: #fff !important; 
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23); 
	-webkit-font-smoothing: antialiased; 
}

.btn-sw-red { 
	background-color: hsl(360, 100%, 32%) !important; 
	background-repeat: repeat-x; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000", endColorstr="#a30000"); 
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ff0000), to(#a30000)); 
	background-image: -moz-linear-gradient(top, #ff0000, #a30000); 
	background-image: -ms-linear-gradient(top, #ff0000, #a30000); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0000), color-stop(100%, #a30000)); 
	background-image: -webkit-linear-gradient(top, #ff0000, #a30000); 
	background-image: -o-linear-gradient(top, #ff0000, #a30000); 
	background-image: linear-gradient(#ff0000, #a30000); 
	border-color: #a30000 #a30000 hsl(360, 100%, 27.5%); 
	color: #fff !important; 
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29); 
	-webkit-font-smoothing: antialiased; 
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  // IE 6+, FF 7+, Op 11+, Saf 1.3+, Chr 1+
    -o-text-overflow: ellipsis;  // for Opera 9 & 10
}

.alert-buttons {
	float: right;
	margin: -5px -20px;
}

.modal-backdrop,
.modal-backdrop.fade.in {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.gradient-bg {
   background-color: #ffffff; 
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f0f0f0));
   background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0); 
   background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
   background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
   background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
}

.row-gradient {
   background-color: #ffffff; 
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#fafafa));
   background-image: -webkit-linear-gradient(top, #ffffff, #fafafa); 
   background-image: -moz-linear-gradient(top, #ffffff, #fafafa);
   background-image: -ms-linear-gradient(top, #ffffff, #fafafa);
   background-image: -o-linear-gradient(top, #ffffff, #fafafa);
}

.sw-assignment-active {
   background-color: #f5fff5; 
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f5fff5));
   background-image: -webkit-linear-gradient(top, #ffffff, #f5fff5); 
   background-image: -moz-linear-gradient(top, #ffffff, #f5fff5);
   background-image: -ms-linear-gradient(top, #ffffff, #f5fff5);
   background-image: -o-linear-gradient(top, #ffffff, #f5fff5);
   border: 1px solid #99cc99;
}

.sw-assignment-active-indicator {
   background-color: #007700; 
}

.sw-assignment-missing {
   background-color: #fff5f5; 
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#fff5f5));
   background-image: -webkit-linear-gradient(top, #ffffff, #fff5f5); 
   background-image: -moz-linear-gradient(top, #ffffff, #fff5f5);
   background-image: -ms-linear-gradient(top, #ffffff, #fff5f5);
   background-image: -o-linear-gradient(top, #ffffff, #fff5f5);
   border: 1px solid #cc9999;
}

.sw-assignment-missing-indicator {
   background-color: #dc0000; 
}

.sw-assignment-released {
   background-color: #f0f0f0; 
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f0f0f0));
   background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0); 
   background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
   background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
   background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
   border: 1px solid #dcdcdc;
}

.sw-button-icon {
	padding-right: 3px;
}

.sw-list-entry {
	font-size: 10pt;
}

tr.sw-list-entry td {
	border-bottom: 1px solid #f0f0f0;
}

.sw-action-glyph {
	opacity: 0.2;
	min-width: 16px;
	text-align: center;
	font-size: 14px;
	display: inline-block;
	cursor: pointer;
}

.sw-list-entry:hover .sw-action-glyph {
	opacity: 0.5;
}

.sw-action-glyph:hover.sw-delete-glyph {
	color: #c00;
	font-size: 16px;
	opacity: 1;
}

.sw-action-glyph:hover.sw-edit-glyph {
	color: #00f;
	font-size: 16px;
	opacity: 1;
}

.sw-action-glyph:hover.sw-view-glyph {
	color: #060;
	font-size: 16px;
	opacity: 1;
}

div.sp-replacer {
	padding: 3px;
	background: none repeat scroll 0% 0% #dddddd;
	border: 1px solid #aaaaaa;
}

div.sp-preview {
	width: 15px;
	height: 15px;
}

div.sp-container {
	background-color: #dddddd;
	border: 1px solid #aaaaaa;
}

.controls {
	position: relative;
}

.form-horizontal .control-group {
	margin-bottom: 15px;
}

td[role="gridcell"] > input[type="text"] {
	height: 24px;
}

.k-grid-content {
	min-height: 200px;
	overflow-x: hidden;
}

.k-virtual-scrollable-wrap {
	overflow-x: hidden;
}

.command-buttons {
	text-align: center;
}

.k-grid-add {
	float: right;
}

.btn-group-vertical .btn {
	width: inherit;
}

.modal-header {
	border-bottom: 1px solid rgb(204, 204, 204);
	border-top: 3px solid rgb(220, 0, 0);
}

.k-state-selected, .k-state-selected:link, .k-list > .k-state-selected, .k-list > .k-state-focused, .k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-button:active, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(220, 0, 0);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.k-button:hover, .k-autocomplete.k-state-hover, .k-picker-wrap.k-state-hover, .k-numeric-wrap.k-state-hover, .k-dropdown-wrap.k-state-hover, .k-textbox:hover, .k-state-hover, .k-state-hover:hover, .k-pager-wrap .k-link:hover, .k-other-month.k-state-hover .k-link, div.k-imagebrowser-dropzone em {
    background-image: none, linear-gradient(to bottom, rgb(220, 0, 0) 0px, rgb(200, 0, 0) 100%);
}

.k-tabstrip .k-state-active, .k-tabstrip-items .k-state-active, .k-tabstrip-items .k-state-hover {
	border-color: #cccccc;
}

.k-numeric-wrap.k-state-hover {
	border-color: inherit;
}

.k-state-active, .k-state-active:hover, .k-active-filter {
    background-color: rgb(255, 255, 255);
    border-color: #cccccc;
    color: rgb(51, 51, 51);
}

.k-listview:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.k-listview {
	border: 1px solid #eee;
	padding: 0;
	min-width: 0;
}

label.error {
	font-weight: bold;
	color: red;
	padding: 0;
	margin: -2px 0px -8px 0px;
}

/** Remove underline on tabs */
li[role="tab"] > a:hover {
	text-decoration: none;
}